footer {
  margin: 80px 0 0;
  background: #F7F7F7;
  padding: 57px 0 45px;
}
footer .logo {
  max-width: 175px;
}
footer .phone {
  font-size: 40px;
  color: #5C5C5C;
  margin: 0 70px 0 80px;
}
footer .phone:hover {
  color: #051861;
}
footer .schedule {
  color: #5C5C5C;
  font-size: 20px;
}
footer .list-messengers {
  margin: 0 70px 0 35px;
}
footer .rating-link {
  margin: 0;
}

.mail {
  color: #5C5C5C;
  font-size: 20px;
  font-weight: bold;
}
.mail:hover {
  color: #051861;
}

.footer-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-box__top, .footer-box__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-box__bottom {
  margin: 43px 0 0;
}

.social-box h4 {
  margin: 0 0 10px;
  color: #051861;
}
.social-box .btn-group .btn {
  margin-right: 20px;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 18px;
}
.list-social li {
  margin: 0 40px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-social li .link-tg {
  width: 38px;
  height: 31px;
}
.list-social li .link-tg img {
  width: 100%;
}

.nav-menu-footer .nav-item {
  width: 100%;
  margin: 0 0 16px;
}
.nav-menu-footer .nav-item:last-child {
  margin: 0 0 16px;
}
.nav-menu-footer .nav-link {
  color: #051861;
}

.list-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}
.list-documents li {
  margin: 0 90px 0 0;
}
.list-documents li:last-child {
  margin: 0;
}
.list-documents li a {
  color: #BBB;
}
.list-documents li a:hover {
  color: #051861;
}

.copyright {
  text-align: right;
  color: #BBB;
  font-size: 14px;
}

.modal-dialog {
  max-width: 552px;
}

.modal-content {
  border-radius: 20px;
  border: none;
  background: #FFF;
  padding: 50px 20px 40px;
}
.modal-content .form {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
}
.modal-content .form label {
  margin: 0 0 20px;
}
.modal-content .form button {
  width: 100%;
}
.modal-content .form .consent {
  text-align: center;
  margin: 20px auto 0;
  color: #5C5C5C;
}

.modal-header {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 0 28px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.modal-header .btn-close {
  padding: 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  margin: 0;
  top: 17px;
  right: 16px;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #051861;
  background: transparent;
  border: none;
  border-radius: 0;
}

.modal-title {
  text-align: center;
  width: 100%;
  color: #5C5C5C;
  font-size: 24px;
  font-weight: 600;
}

.modal-body {
  width: 100%;
  padding: 0;
}
.modal-body .box-text {
  color: #5C5C5C;
  margin: 0 auto 20px;
  font-size: 16px;
}

#addressModal .modal-dialog {
  max-width: 1412px;
}
#addressModal .modal-title {
  color: #051861;
  font-size: 40px;
}
#addressModal .modal-title {
  margin: 0 0 90px;
}
#addressModal .modal-content {
  padding: 56px 90px 95px;
}

.address-gallery {
  padding: 0 44px;
}

.address-gallery-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  height: 522px;
  width: 100%;
}
.address-gallery-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-v2 .modal-dialog {
  max-width: 680px;
}
.modal-v2 .modal-header {
  margin: 0 0 39px;
  padding: 0 0 32px;
  border-bottom: 1px solid #FFC797;
}
.modal-v2 .modal-title {
  text-align: left;
}

.route-metro-photo {
  width: 100%;
}
.route-metro-photo img {
  width: 100%;
}