footer {
  margin: 80px 0 0;
  background: #F7F7F7;
  padding: 57px 0 45px;
}
footer .logo {
  max-width: 175px;
}
footer .phone {
  font-size: 40px;
  color: #5C5C5C;
  margin: 0 70px 0 80px;
}
footer .phone:hover {
  color: #051861;
}
footer .schedule {
  color: #5C5C5C;
  font-size: 20px;
}
footer .list-messengers {
  margin: 0 70px 0 35px;
}
footer .rating-link {
  margin: 0;
}

.footer {
  background: transparent;
  padding: 70px 0;
  margin: 10px 0 0;
}

.mail {
  color: #5C5C5C;
  font-size: 20px;
  font-weight: bold;
}
.mail:hover {
  color: #051861;
}

.footer-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-box__top, .footer-box__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-box__bottom {
  margin: 43px 0 0;
}

.social-box {
  max-width: 475px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.social-box h4 {
  margin: 0 0 10px;
  color: #051861;
}
.social-box .btn-group {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.social-box .btn-group .btn {
  margin-right: 20px;
}
.social-box .btn-group .btn:last-child {
  margin: 0;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 18px;
}
.list-social li {
  margin: 0 40px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-social li .link-tg {
  width: 38px;
  height: 31px;
}
.list-social li .link-tg img {
  width: 100%;
}

.nav-menu-footer .nav-item {
  width: 100%;
  margin: 0 0 16px;
}
.nav-menu-footer .nav-item:last-child {
  margin: 0 0 16px;
}
.nav-menu-footer .nav-link {
  color: #051861;
}

.list-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}
.list-documents li {
  margin: 0 90px 0 0;
}
.list-documents li:last-child {
  margin: 0;
}
.list-documents li a {
  color: #BBB;
}
.list-documents li a:hover {
  color: #051861;
}

.copyright {
  text-align: right;
  color: #BBB;
  font-size: 14px;
}

.modal-dialog {
  max-width: 552px;
}

.modal-content {
  border-radius: 20px;
  border: none;
  background: #FFF;
  padding: 50px 20px 40px;
}
.modal-content .form {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
}
.modal-content .form label {
  margin: 0 0 20px;
}
.modal-content .form button {
  width: 100%;
}
.modal-content .form .consent {
  text-align: center;
  margin: 20px auto 0;
  color: #5C5C5C;
}

.modal-header {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 0 28px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.modal-header .btn-close {
  padding: 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  margin: 0;
  top: 17px;
  right: 16px;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #051861;
  background: transparent;
  border: none;
  border-radius: 0;
}

.modal-title {
  text-align: center;
  width: 100%;
  color: #5C5C5C;
  font-size: 24px;
  font-weight: 600;
}

.modal-body {
  width: 100%;
  padding: 0;
}
.modal-body .box-text {
  color: #5C5C5C;
  margin: 0 auto 20px;
  font-size: 16px;
}

#addressModal .modal-dialog {
  max-width: 1412px;
}
#addressModal .modal-title {
  color: #051861;
  font-size: 40px;
}
#addressModal .modal-header {
  margin: 0 0 90px;
}
#addressModal .modal-content {
  padding: 56px 90px 95px;
}

.address-gallery {
  padding: 0 44px;
}

.address-gallery-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  height: 522px;
  width: 100%;
}
.address-gallery-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.modal-v2 .modal-dialog {
  max-width: 680px;
}
.modal-v2 .modal-header {
  margin: 0 0 39px;
  padding: 0 0 32px;
  border-bottom: 1px solid #FFC797;
}
.modal-v2 .modal-title {
  text-align: left;
  color: #333;
}
.modal-v2 .modal-content {
  padding: 43px 37px 52px;
}

.route-metro-photo {
  width: 100%;
}
.route-metro-photo img {
  width: 100%;
}

.map-location {
  width: 100%;
  height: 516px;
  border-radius: 20px;
}
.map-location iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

#surveyModal .modal-dialog {
  max-width: 1200px;
}

.form-survey {
  width: 100%;
}
.form-survey [type=submit], .form-survey .checkbox-consent {
  display: none;
}
.form-survey.last-slide [type=submit], .form-survey.last-slide .checkbox-consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-survey-box {
  width: 100%;
}
.form-survey-box__header {
  width: 100%;
  margin: 0 0 33px;
}

.number-question {
  font-size: 40px;
  font-weight: 600;
  color: #051861;
}

.title-question {
  margin: 33px 0 0;
}

.checkbox-consent {
  color: #5C5C5C;
  font-size: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 27px 0 0;
}
.checkbox-consent .checkbox-text {
  max-width: 152px;
}

.form-survey-slider__nav {
  margin: 30px 0 0;
}
.form-survey-slider__nav .slick-arrow {
  padding: 10px 30px;
  height: 62px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.form-survey-slider__nav .slick-arrow svg {
  width: 9px;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.form-survey-slider__nav .slick-prev {
  margin: 0 27px 0 0;
}
.form-survey-slider__nav .slick-prev svg {
  margin: 0 20px 0 0;
  stroke: #051861;
}
.form-survey-slider__nav .btn-border-accent {
  border: 1px solid #051861;
}
.form-survey-slider__nav .btn-border-accent:hover svg {
  stroke: #fff;
}
.form-survey-slider__nav .btn-accent {
  background: #051861;
}
.form-survey-slider__nav .btn-accent svg {
  stroke: #fff;
}

.requisites-box {
  font-size: 20px;
}
.requisites-box h3 {
  margin: 0 0 24px;
  color: #051861;
  font-size: 20px;
  font-weight: normal;
}

#requisitesModal .modal-dialog {
  max-width: 1030px;
}

.list-requisites {
  max-width: 470px;
}
.list-requisites .font-bold {
  font-weight: 600;
}
.list-requisites span {
  margin: 0 10px 0 0;
}

#mediaModal .modal-dialog, #reviewsModal .modal-dialog {
  max-width: 1030px;
}

.video-iframe {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}
.video-iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}