.home {
  margin: 40px 0 180px;
}
.home h3 {
  margin: 54px 0 97px;
}
.home .btn {
  padding: 10px 40px;
  font-size: 20px;
  margin: 25px 0 0;
  height: 67px;
}
.home .box-text {
  max-width: 322px;
}

.home-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.home-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.home-image-max {
  height: 702px;
}
.home-image-min {
  height: 334px;
}
.home-image-min__last {
  height: 346px;
}

.sales .title-decor {
  padding: 70px 160px 70px 0;
}

.sales-slider {
  padding: 0 120px 0 0;
}
.sales-slider .slick-prev {
  opacity: 0;
}
.sales-slider .slick-arrow {
  top: 30%;
}

.sales-item__img {
  width: 100%;
  height: 334px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sales-item__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sales-item__body {
  margin: 30px 0 0;
  width: 100%;
}
.sales-item__title {
  color: #333;
  font-size: 20px;
}
.sales-item__title:hover {
  color: #051861;
}
.sales-item .btn {
  margin: 20px 0 0;
  padding: 10px 30px;
}

.services-box {
  width: 100%;
  height: 100%;
}
.services-box .btn {
  margin: 25px 44px 0 0;
}
.services-box .btn:last-child {
  margin: 25px 0 0;
}
.services-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 42px;
  min-width: 35px;
  fill: #051861;
}
.services-box h3 {
  margin: 0 0 12px;
  font-size: 23px;
}
.services-box__body {
  width: 100%;
  height: calc(100% - 42px);
  padding: 28px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services-box .btn-group {
  margin: auto 0 0;
}
.services-box .box-text {
  max-width: 506px;
}

.about {
  position: relative;
  overflow: hidden;
  margin: 70px 0 140px;
}
.about h2 {
  line-height: 77px;
}

.about-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  padding: 84px 0 113px 50px;
}
.about-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: calc(100% + 97px);
  height: 100%;
  border-radius: 20px;
  background: #F7F7F7;
}

.about-content {
  padding: 0 0 0 90px;
}
.about-content h3 {
  margin: 32px 0 31px;
  max-width: 681px;
}
.about-content .btn {
  margin: 59px 0 0;
}

.about-image {
  width: 100%;
  height: 474px;
  border-radius: 10px;
}
.about-image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-us h2 {
  margin: 70px 0 0;
}

.why-us-box {
  margin: 0 0 83px;
}
.why-us-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
}
.why-us-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 42px;
  min-width: 35px;
  margin: 0 20px 0 0;
  fill: #051861;
}

.reviews {
  position: relative;
  margin: 70px 0 104px;
  z-index: 1;
  padding: 87px 0 0;
}
.reviews h2 {
  margin: 0 0 54px;
}
.reviews::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #FFC797;
  height: 1px;
  max-width: 1700px;
  width: 100%;
  padding: 0 15px;
}

.video-reviews {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  max-width: 504px;
  height: 277px;
  margin: 0 50px 80px 0;
}
.video-reviews:last-child {
  margin-right: 0;
}
.video-reviews img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-reviews__icon {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  fill: #fff;
  width: 97px;
  height: 97px;
  background: rgba(5, 24, 97, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-reviews__icon svg {
  width: 25px;
  height: 30px;
}
.video-reviews:hover .video-reviews__icon {
  background: #051861;
}

.reviews-card {
  max-width: 464px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #051861;
  padding: 20px 40px;
}
.reviews-card__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-card__avatar {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  min-width: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 36px 0 0;
}
.reviews-card__avatar img {
  border-radius: 50%;
}
.reviews-card__name {
  font-size: 20px;
  font-weight: 600;
}
.reviews-card__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0 0;
}
.reviews-card__service .link {
  color: #051861;
  font-size: 14px;
}
.reviews-card__service .link:hover {
  color: #5C5C5C;
}
.reviews-card__body {
  margin: 20px 0 0;
}
.reviews-card .list-stars {
  margin: 0 0 20px;
}
.reviews-card .box-text {
  font-size: 16px;
}

.w476 {
  max-width: 476px;
}

.w408 {
  max-width: 408px;
}

.link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 20px;
  fill: #051861;
  width: 24px;
  height: 15px;
  min-width: 24px;
}

.list-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-stars li {
  width: 22px;
  height: 21px;
  fill: #FDC20C;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-stars li:last-child {
  margin: 0;
}

.reviews-slider .slick-list {
  margin: 0 -15px;
}
.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.reviews-slider .slick-slide {
  height: auto;
  padding: 0 15px;
}
.reviews-slider__nav {
  margin: 120px 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.reviews-slider__nav .slick-prev {
  opacity: 0;
}

.mass-media h2 {
  margin: 0 0 47px;
  max-width: 323px;
}
.mass-media-wrapper {
  position: relative;
  z-index: 1;
  padding: 78px 0 53px 55px;
}
.mass-media-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% + 97px);
  border-radius: 20px;
  background: #F7F7F7;
}

.video-mass-media {
  margin: 0 43px 60px 0;
  height: auto;
  color: #333;
  font-size: 20px;
}
.video-mass-media:hover {
  color: #051861;
}
.video-mass-media:last-child {
  margin: 0 0 60px;
}
.video-mass-media__img {
  width: 100%;
  position: relative;
  height: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-mass-media__title {
  margin: 27px 0 0;
  max-width: 260px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mass-media-box {
  margin: 0 33px 20px 0;
  max-width: 367px;
  width: 100%;
}
.mass-media-box:last-child {
  margin: 0 0 20px;
}
.mass-media-box__img {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mass-media-box__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mass-media-box__body {
  width: 100%;
  margin: 30px 0 0;
}
.mass-media-box__title {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.mass-media-box__title:hover {
  color: #051861;
}
.mass-media-box .btn {
  margin: 30px 0 0;
}

.news {
  margin: 110px 0 76px;
}

.btn-all-news {
  margin-left: auto;
}

.news-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #B4B4B4;
  padding: 20px;
}
.news-card__date {
  color: #051861;
}
.news-card__img {
  margin: 20px 0;
  width: 100%;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.news-card__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card__title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.news-card__title:hover {
  color: #051861;
}
.news-card .box-text {
  margin: 15px 0 20px;
}
.news-card__body {
  width: 100%;
  height: calc(100% - 227px - 40px - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news-card .btn {
  margin: auto 0 0;
}

.articles {
  padding: 103px 0 0;
  position: relative;
  z-index: 1;
}
.articles::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #FFC797;
  height: 1px;
  max-width: 1700px;
  width: 100%;
  padding: 0 15px;
}

.articles-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 20px;
  background: #F7F7F7;
  padding: 35px;
}
.articles-card__img {
  border-radius: 10px;
  width: 169px;
  height: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.articles-card__body {
  width: calc(100% - 169px);
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articles-card__title {
  color: #333;
  font-size: 20px;
}
.articles-card__title:hover {
  color: #051861;
}
.articles-card .btn {
  margin: auto 0 0;
}

.callback {
  margin: 120px 0 70px;
}
.callback h2 {
  margin: 0 0 60px;
  color: #fff;
}
.callback h3 {
  margin: 0 0 53px auto;
  max-width: 645px;
}

.callback-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
  background: #F7F7F7;
}

.callback-content {
  border-radius: 20px;
  background: #051861;
  color: #fff;
  max-width: 860px;
  width: 100%;
  padding: 43px 45px 90px 53px;
}

.form-callback {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-callback label {
  max-width: 245px;
  margin: 0 20px 20px 0;
}
.form-callback label:last-child {
  margin: 0 0 20px;
}
.form-callback input {
  border: 1px solid #FFF;
  color: #fff;
}
.form-callback input::-webkit-input-placeholder {
  color: #fff;
}
.form-callback input::-moz-placeholder {
  color: #fff;
}
.form-callback input:-ms-input-placeholder {
  color: #fff;
}
.form-callback input::-ms-input-placeholder {
  color: #fff;
}
.form-callback input::placeholder {
  color: #fff;
}
.form-callback .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0;
}
.form-callback .consent {
  color: #405BA1;
  font-size: 12px;
  max-width: 222px;
  margin: 0 0 0 20px;
}

.communication-method {
  position: relative;
  z-index: 1;
  width: calc(100% - 860px);
  padding: 43px 74px 90px 30px;
  text-align: right;
}

.callback-image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -176px;
  max-width: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-messengers-callback {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.list-messengers-callback li {
  margin: 0 30px 20px 0;
}
.list-messengers-callback li:last-child {
  margin: 0 0 20px;
}
.list-messengers-callback li a {
  border-radius: 20px;
  border: 1px solid #051861;
  width: 180px;
  height: 64px;
  color: #051861;
}
.list-messengers-callback li a:hover {
  color: #5C5C5C;
}
.list-messengers-callback li a img {
  margin: 0 20px 0 0;
}

.phone-callback {
  font-size: 64px;
  color: #051861;
  font-weight: bold;
  margin: 40px 0 0 auto;
}
.phone-callback:hover {
  color: #5C5C5C;
}

.contacts h2 {
  margin: 0 0 40px;
}

.contacts-photo {
  width: 100%;
  height: 441px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.contacts-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 42px 0 0;
}

.address-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0 100px 0 0;
}
.address-location__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 13px 0 0;
  fill: #5C5C5C;
  width: 18px;
  height: 26px;
  min-width: 18px;
}

.contacts-map {
  width: 100%;
  height: 441px;
  border-radius: 10px;
}
.contacts-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.contacts-map__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 36px 0 0;
}

.btn-route {
  padding: 0 20px;
  margin: 0 11px 0 0;
}
.btn-route:last-child {
  margin: 0;
}
.btn-route svg {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: #fff;
}
.btn-route-metro svg {
  fill: #EE2F2E;
  stroke: none;
}

.contacts-map-size {
  font-size: 20px;
  font-weight: 600;
  max-width: 365px;
  width: 100%;
  margin: 0 auto 0 0;
}