.home {
  margin: 40px 0 180px;
}
.home h3 {
  margin: 54px 0 97px;
}
.home .btn {
  padding: 10px 40px;
  font-size: 20px;
  margin: 25px 0 0;
  height: 67px;
}
.home .box-text {
  max-width: 322px;
}
.home-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
}
.home-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}
.home-image-max {
  height: 702px;
}
.home-image-min {
  height: 334px;
  margin: 0 0 22px;
}
.home-image-min__last {
  height: 346px;
  margin: 0;
}

.sales .title-decor {
  padding: 70px 160px 70px 0;
}

.sales-slider {
  width: calc(100% + 10px);
  padding: 0 120px 0 0;
}
.sales-slider .slick-prev {
  opacity: 0;
}
.sales-slider .slick-arrow {
  top: 35%;
}

.sales-item__img {
  width: 100%;
  height: 334px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sales-item__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sales-item__body {
  margin: 30px 0 0;
  width: 100%;
}

.sales-item__title {
  color: #333;
  font-size: 20px;
}
.sales-item__title:hover {
  color: #051861;
}

.sales-item .btn {
  margin: 20px 0 0;
  padding: 10px 30px;
}

.services-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services-box .btn {
  margin: 25px 44px 0 0;
}
.services-box .btn:last-child {
  margin: 25px 0 0;
}
.services-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35px;
  height: 42px;
  min-width: 35px;
  fill: #051861;
  margin: 0 0 28px;
}
.services-box h3 {
  font-size: 23px;
  width: 100%;
}
.services-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.services-box__body {
  width: 100%;
  padding: 12px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services-box .btn-group {
  margin: auto 0 0;
}
.services-box .box-text {
  max-width: 506px;
}

.about {
  position: relative;
  overflow: hidden;
  margin: 70px 0 140px;
}
.about h2 {
  line-height: 77px;
}
.about-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 20px 0 0 20px;
  padding: 84px 0 113px 50px;
}
.about-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: calc(100% + 97px);
  height: 100%;
  border-radius: 20px;
  background: #F7F7F7;
}
.about-content {
  padding: 0 0 0 90px;
}
.about-content .h3 {
  margin: 32px 0 31px;
  max-width: 681px;
}
.about-content .btn {
  margin: 59px 0 0;
}
.about-image {
  width: 100%;
  height: 474px;
  border-radius: 10px;
}
.about-image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.why-us {
  position: relative;
  overflow: hidden;
}
.why-us h2 {
  margin: 70px 0 0;
}
.why-us-box {
  margin: 0 0 83px;
}
.why-us-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 20px;
}
.why-us-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35px;
  height: 42px;
  min-width: 35px;
  margin: 0 20px 0 0;
  fill: #051861;
}

.reviews {
  margin: 70px 0 104px;
  padding: 87px 0 0;
}
.reviews h2 {
  margin: 0 0 54px;
}

.video-reviews-wrapper {
  width: calc(100% + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.video-reviews-wrapper .slick-arrow {
  display: none !important;
}

.video-reviews {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  max-width: 504px;
  height: 277px;
  margin: 0 50px 80px 0;
}
.video-reviews:last-child {
  margin-right: 0;
}
.video-reviews img, .video-reviews video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-reviews__icon {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  fill: #fff;
  width: 97px;
  height: 97px;
  background: rgba(5, 24, 97, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.video-reviews__icon svg {
  width: 25px;
  height: 30px;
}
.video-reviews:hover .video-reviews__icon {
  background: #051861;
}

.reviews-card {
  max-width: 464px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #051861;
  padding: 20px 40px;
}
.reviews-card__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reviews-card__avatar {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  min-width: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.reviews-card__avatar img {
  border-radius: 50%;
}
.reviews-card__user {
  width: calc(100% - 67px);
  padding: 0 0 0 20px;
  position: relative;
}
.reviews-card__user .link-web {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.reviews-card__name {
  font-size: 20px;
  font-weight: 600;
  padding: 0 41px 0 0;
}
.reviews-card__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 8px 0 0;
}
.reviews-card__service .link {
  color: #051861;
  font-size: 14px;
}
.reviews-card__service .link:hover {
  color: #5C5C5C;
}
.reviews-card__body {
  margin: 20px 0 0;
}
.reviews-card__date {
  color: #757575;
  font-size: 14px;
}
.reviews-card .list-stars {
  margin: 0 0 20px;
}
.reviews-card .box-text {
  font-size: 16px;
}

.btn-all-reviews {
  margin: 0 0 0 auto;
}

.w476 {
  max-width: 476px;
}

.w408 {
  max-width: 408px;
}

.link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 0 20px;
  fill: #051861;
  width: 24px;
  height: 15px;
  min-width: 24px;
}

.list-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.list-stars li {
  width: 22px;
  height: 21px;
  fill: #FDC20C;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.list-stars li:last-child {
  margin: 0;
}

.reviews-slider {
  width: calc(100% + 10px);
}
.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.reviews-slider .slick-slide {
  height: auto;
  margin: 0 30px 0 0;
}
.reviews-slider__nav {
  margin: 120px 0 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.reviews-slider__nav .slick-prev {
  opacity: 0;
}

.mass-media h2 {
  margin: 0 0 47px;
  max-width: 323px;
}

.mass-media-wrapper {
  position: relative;
  z-index: 1;
  padding: 78px 0 53px 55px;
}
.mass-media-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% + 97px);
  border-radius: 20px;
  background: #F7F7F7;
}

.video-mass-media-wrapper {
  width: calc(100% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 64px 0 0;
}
.video-mass-media-wrapper .slick-arrow {
  top: 30%;
}
.video-mass-media-wrapper .slick-prev {
  display: none !important;
}

.video-mass-media {
  margin: 0 43px 60px 0;
  height: auto;
  color: #333;
  font-size: 20px;
}
.video-mass-media:hover {
  color: #051861;
}
.video-mass-media:last-child {
  margin: 0 0 60px;
}
.video-mass-media__img {
  width: 100%;
  position: relative;
  height: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.video-mass-media__title {
  margin: 27px 0 0;
  max-width: 260px;
  font-weight: 600;
  display: block;
}

.mass-media-box {
  margin: 0 33px 20px 0;
  max-width: 367px;
  width: 100%;
}
.mass-media-box:last-child {
  margin: 0 0 20px;
}
.mass-media-box__img {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mass-media-box__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.mass-media-box__body {
  width: 100%;
  margin: 30px 0 0;
}
.mass-media-box__title {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.mass-media-box__title:hover {
  color: #051861;
}
.mass-media-box .btn {
  margin: 30px 0 0;
}

.news {
  margin: 110px 0 76px;
}

.btn-all-news {
  margin-left: auto;
}

.news-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #B4B4B4;
  padding: 20px;
}
.news-card__date {
  color: #051861;
}
.news-card__img {
  margin: 20px 0;
  width: 100%;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
}
.news-card__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.news-card__title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.news-card__title:hover {
  color: #051861;
}
.news-card .box-text {
  margin: 15px 0 20px;
}
.news-card__body {
  width: 100%;
  height: calc(100% - 227px - 40px - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.news-card .btn {
  margin: auto 0 0;
}

.articles {
  padding: 103px 0 0;
}
.articles-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 20px;
  background: #F7F7F7;
  padding: 35px;
}
.articles-card__img {
  border-radius: 10px;
  width: 169px;
  height: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.articles-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}
.articles-card__body {
  width: calc(100% - 169px);
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.articles-card__title {
  color: #333;
  font-size: 20px;
  margin: 0 0 20px;
}
.articles-card__title:hover {
  color: #051861;
}
.articles-card .btn {
  margin: auto 0 0;
}

.callback {
  margin: 120px 0 70px;
}
.callback h2 {
  margin: 0 0 60px;
  color: #fff;
}
.callback h3 {
  margin: 0 0 53px auto;
  max-width: 645px;
}
.callback-v2 {
  margin: 40px 0 120px;
}
.callback-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #F7F7F7;
}
.callback-content {
  border-radius: 20px;
  background: #051861;
  color: #fff;
  max-width: 860px;
  width: 100%;
  padding: 43px 45px 90px 53px;
}

.form-callback {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-callback label {
  max-width: 245px;
  margin: 0 20px 20px 0;
}
.form-callback label:last-child {
  margin: 0 0 20px;
}
.form-callback input {
  border: 1px solid #FFF;
  color: #fff;
}
.form-callback input::-webkit-input-placeholder {
  color: #fff;
}
.form-callback input::-moz-placeholder {
  color: #fff;
}
.form-callback input:-ms-input-placeholder {
  color: #fff;
}
.form-callback input::-ms-input-placeholder {
  color: #fff;
}
.form-callback input::placeholder {
  color: #fff;
}
.form-callback .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 0;
}
.form-callback .consent {
  color: #405BA1;
  margin: 0 0 0 20px;
}

.consent {
  font-size: 12px;
  max-width: 222px;
}

.communication-method {
  position: relative;
  z-index: 1;
  width: calc(100% - 860px);
  padding: 43px 74px 90px 30px;
  text-align: right;
}
.communication-method .h2 {
  margin: 0 0 50px;
}

.callback-image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -176px;
  max-width: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-messengers-callback {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
}
.list-messengers-callback li {
  margin: 0 30px 20px 0;
}
.list-messengers-callback li:last-child {
  margin: 0 0 20px;
}
.list-messengers-callback li a {
  border-radius: 20px;
  border: 1px solid #051861;
  width: 180px;
  height: 64px;
  color: #051861;
}
.list-messengers-callback li:hover {
  color: #5C5C5C;
}
.list-messengers-callback li a img {
  margin: 0 20px 0 0;
}

.phone-callback {
  font-size: 64px;
  color: #051861;
  font-weight: bold;
  margin: 40px 0 0 auto;
}
.phone-callback:hover {
  color: #5C5C5C;
}

.contacts h2 {
  margin: 0 0 40px;
}

.contacts-photo {
  width: 100%;
  height: 441px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contacts-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.contacts-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 42px 0 0;
}

.address-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0 100px 0 0;
}
.address-location__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 13px 0 0;
  fill: #5C5C5C;
  width: 18px;
  height: 26px;
  min-width: 18px;
}

.contacts-map {
  width: 100%;
  height: 441px;
  border-radius: 10px;
}
.contacts-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.contacts-map__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 36px 0 0;
}

.btn-route {
  padding: 0 20px;
  margin: 0 11px 0 0;
}
.btn-route:last-child {
  margin: 0;
}
.btn-route .svg-icon {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: #fff;
}
.btn-route-metro .svg-icon {
  fill: #EE2F2E;
  stroke: none;
}

.contacts-map-size {
  font-size: 20px;
  font-weight: 600;
  max-width: 365px;
  width: 100%;
  margin: 0 auto 0 0;
}

.services-page h1 {
  margin: 0 0 110px;
}

.subtitle {
  margin: 48px 0 63px;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: #051861;
}

.accordion {
  border: none;
  border-radius: 0;
}
.accordion-item {
  border-radius: 20px;
  border: none;
  margin: 0 0 34px;
  background: #fff;
}
.accordion-item:last-child {
  margin: 0;
  border-radius: 20px;
}
.accordion-item:last-child .accordion-button {
  border-radius: 20px;
}
.accordion-item:first-child {
  border-radius: 20px;
}
.accordion-item:first-child .accordion-button {
  border-radius: 20px;
}
.accordion-button {
  border-radius: 20px;
  background: #F7F7F7;
  padding: 31px 56px 39px 49px;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.accordion-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion-button:after {
  background: url("../img/accordion-arrow.svg") no-repeat center;
  background-size: 100%;
  width: 24px;
  min-width: 24px;
  height: 12px;
}
.accordion-body {
  border: 1px solid #B4B4B4;
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 35px 45px 23px;
  margin: -20px 0 0;
}
.accordion-button:not(.collapsed) {
  background: #F7F7F7;
  color: #333;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed):after {
  background: url("../img/accordion-arrow.svg") no-repeat center;
  background-size: 100%;
  width: 24px;
  height: 12px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 20px;
}

.table-price {
  font-size: 20px;
  color: #051861;
}
.table-price .h4 {
  font-weight: 600;
  color: #333;
  margin: 0;
  font-size: inherit;
}
.table-price th {
  padding: 20px;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #B4B4B4;
  border-bottom: 1px solid #B4B4B4;
  border-top: none;
}
.table-price th:first-child {
  border-left: none;
}
.table-price th:last-child {
  border-right: none;
}
.table-price td {
  padding: 19px 20px 24px;
  min-height: 108px;
  border-right: 1px solid #B4B4B4;
  border-bottom: 1px solid #B4B4B4;
  text-align: center;
}
.table-price td:first-child {
  border-left: none;
  width: 43%;
  text-align: left;
  padding: 19px 70px 24px 0;
}
.table-price td:last-child {
  border-right: none;
}

.btn-details-service {
  margin: 32px 0 0;
}

.about-section {
  margin: 0 0 175px;
}
.about-section .about-image {
  height: 501px;
}
.about-section .about-content {
  padding: 0;
}
.about-section .about-content .h3 {
  margin: 74px 0 31px;
}

.company-founder {
  margin: 133px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
.company-founder__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 590px;
  height: 783px;
  border-radius: 10px;
  margin-left: auto;
}
.company-founder__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}
.company-founder__name {
  top: 76px;
  left: 0;
  z-index: 1;
  position: absolute;
  background: #051861;
  color: #fff;
  padding: 35px 56px;
  border-radius: 10px;
}
.company-founder__name .h2 {
  color: #fff;
}
.company-founder__name .position {
  font-size: 24px;
  margin: 20px 0 0;
}
.company-founder__content {
  margin: 133px auto 0;
  max-width: 654px;
}
.company-founder__content h2 {
  margin: 0 0 40px;
}

.team {
  margin: 100px 0 55px;
}
.team h2 {
  margin: 0 0 90px;
}
.team-card {
  width: 100%;
  height: 100%;
}
.team-card__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 258px;
  height: 295px;
  border-radius: 10px;
}
.team-card__photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}
.team-card__body {
  width: 100%;
  margin: 30px 0 0;
}
.team-card__position {
  margin: 7px 0 0;
  font-size: 20px;
}

.cases {
  margin: 110px 0;
}
.cases-slider {
  padding: 0 54px 0 0;
  width: calc(100% + 15px);
}
.cases-slider .slick-prev {
  display: none !important;
}
.cases-slider .slick-slide {
  margin: 0 30px 0 0;
}

.case-card {
  width: 527px;
  border-radius: 10px;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 20px;
}
.case-card__photo {
  width: 256px;
  height: 256px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.case-card__photo img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.case-card__body {
  width: calc(100% - 256px);
  padding: 54px 0 0 30px;
}
.case-card__name {
  margin: 10px 0 0;
}
.case-card .btn {
  margin: 36px 0 0;
}

.section-top-line {
  padding: 60px 0 0;
  position: relative;
  z-index: 1;
}
.section-top-line::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #FFC797;
  height: 1px;
  max-width: 1700px;
  width: 100%;
}

.warranty-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.warranty-box {
  background: #051861;
  border-radius: 10px;
  width: 479px;
  padding: 40px;
  color: #fff;
  margin: 0 54px 50px 0;
}
.warranty-box:last-child {
  margin: 0 0 50px;
}
.warranty-box__icon {
  fill: #fff;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.warranty-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 20px;
}

.jobs {
  margin: 58px 0 40px;
}

.accordion-jobs {
  max-width: 932px;
  margin: 0 0 0 auto;
}
.accordion-jobs .accordion-button span {
  max-width: 478px;
}

.jobs-callback {
  padding: 38px 0 0;
  margin: 46px 0 0;
  border-top: 1px solid #FFC797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jobs-callback .h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 288px;
}

.mail-jobs {
  font-size: 48px;
  font-weight: 600;
  color: #051861;
}
.mail-jobs:hover {
  color: #5C5C5C;
}

.jobs-area {
  margin: 47px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.jobs-area .box-text {
  max-width: 430px;
  margin: 0 auto 0 0;
}

.documents {
  margin: 70px 0 140px;
}
.documents-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.documents-card {
  margin: 0 35px 35px 0;
  padding: 27px 40px;
  border-radius: 10px;
  border: 1px solid #051861;
  width: 380px;
  display: none;
}
.documents-card:nth-child(-n+4) {
  display: block;
}
.documents-card:last-child {
  margin: 0 0 35px;
}
.documents-card__icon {
  width: 38px;
  height: 30px;
  min-width: 38px;
  fill: none;
  stroke: #051861;
}
.documents-card__body {
  width: calc(100% - 38px);
  padding: 30px 0 0 36px;
  margin: 0 0 0 auto;
}
.documents-card__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.documents-card__name {
  width: calc(100% - 38px);
  padding: 0 0 0 36px;
  color: #333;
  font-size: 20px;
}
.documents-card__name:hover {
  color: #051861;
}

.btn-download .svg-icon {
  width: 12px;
  height: 18px;
  margin: 0 0 0 20px;
}

.btn-toggle svg {
  margin: 0 0 0 20px;
  fill: none;
  stroke: #fff;
  width: 18px;
  height: 9px;
}

.payments {
  padding: 70px 0 0;
  margin: 110px 0;
}
.payments-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.payments-box {
  padding: 30px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background: #F7F7F7;
  margin: 0 60px 50px 0;
}
.payments-box:last-child {
  margin: 0 0 50px;
}
.payments-box .h3 {
  font-weight: normal;
}
.payments-box__icon {
  margin: 0 60px 0 0;
  width: 60px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacts-page .contacts-map {
  height: 100%;
  max-width: 772px;
  margin: 0 0 0 auto;
}

.contacts-page .social-box {
  width: 100%;
  max-width: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 70px 0 0;
  font-size: 16px;
  color: #051861;
}
.contacts-page .social-box .h4 {
  margin: 0;
  font-size: inherit;
}

.contacts-page .list-social {
  margin: 0 0 0 38px;
}

.contacts-page .phone, .contacts-page .mail {
  font-size: 40px;
  color: #051861;
}

.contacts-page .phone:hover, .contacts-page .mail:hover {
  color: #FFC797;
}

.contacts-page .schedule {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 34px 0 38px;
  font-size: 20px;
  color: #051861;
}
.contacts-page .schedule .h4 {
  margin: 0 0 6px;
}

.contacts-page .requisites-box {
  font-size: 16px;
  margin: 18px 0 20px;
}

.contacts-page .address-location {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  color: #051861;
  font-weight: normal;
  max-width: none;
  margin: 0;
}
.contacts-page .address-location__icon {
  margin: 0 13px 0 -30px;
  fill: #FFC797;
  width: 18px;
  height: 26px;
}
.contacts-page .address-location__text {
  max-width: 366px;
}

.name-company {
  color: #051861;
  margin: 25px 0 60px;
  text-transform: uppercase;
  font-size: 32px;
}

.contacts-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px 0 0;
  border-right: 1px solid #FFC797;
}
.contacts-box:last-child {
  padding: 0 0 0 90px;
  border: none;
}

.contacts-callback {
  border-radius: 20px;
  background: #F7F7F7;
  padding: 32px 43px 24px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 70px 0 0;
}
.contacts-callback .form-callback {
  max-width: 252px;
  width: 100%;
  margin: 30px 0 0;
}
.contacts-callback .form-callback label {
  width: 100%;
  margin: 0 0 30px;
}
.contacts-callback .form-callback input {
  border: 1px solid #051861;
  color: #051861;
}
.contacts-callback .form-callback input::-webkit-input-placeholder {
  color: #051861;
}
.contacts-callback .form-callback input::-moz-placeholder {
  color: #051861;
}
.contacts-callback .form-callback input:-ms-input-placeholder {
  color: #051861;
}
.contacts-callback .form-callback input::-ms-input-placeholder {
  color: #051861;
}
.contacts-callback .form-callback input::placeholder {
  color: #051861;
}
.contacts-callback .form-callback [type=submit] {
  width: 100%;
  max-width: none;
}
.contacts-callback .form-callback .consent {
  margin: 20px 0 0;
  color: #5C5C5C;
}
.contacts-callback .list-messengers-callback {
  margin: 44px 0 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contacts-callback .list-messengers-callback li {
  margin: 0 0 30px;
  width: 180px;
}
.contacts-callback .list-messengers-callback li:last-child {
  margin: 0;
}
.contacts-callback-box {
  border-right: 1px solid #FFC797;
  width: 45%;
  padding: 0 40px 0 0;
}
.contacts-callback-box:last-child {
  padding: 0 0 0 40px;
  border: none;
  width: 55%;
}
.contacts-callback-box .h3 {
  color: #5C5C5C;
  max-width: 285px;
}
.contacts-callback-box .box-text {
  font-size: 16px;
  margin: 6px 0 0;
  max-width: 185px;
}

.driving-direction {
  margin: 88px 0 0;
}
.driving-direction h3 {
  font-size: 40px;
  color: #051861;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.driving-metro__img {
  position: relative;
  width: 100%;
}
.driving-metro__img img {
  width: 100%;
}

.driving-direction-box__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 30px;
}

.driving-direction-box-last {
  margin-left: auto;
  max-width: 1045px;
}

.driving-direction-box__img {
  width: 100%;
  height: 467px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.driving-direction-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
}

.driving-direction-box .box-text {
  margin: 36px 0 0;
}

.driving-slider {
  margin: 87px 0 0;
  padding: 0 24px;
}
.driving-slider .slick-slide {
  margin: 0 20px;
}

.driving-photo {
  width: 100%;
  height: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
}
.driving-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.answer-section .subtitle {
  max-width: 1023px;
  text-transform: none;
  font-size: 48px;
  margin: 50px 0;
}

.accordion-answer .accordion-button {
  padding: 31px 37px;
}
.accordion-answer .accordion-button span {
  max-width: 471px;
}
.accordion-answer .accordion-body {
  padding: 32px 37px;
}

.question-group {
  margin: 125px 0;
}

.question-group-wrapper {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  background: #F7F7F7;
  max-width: 979px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-group-wrapper__image {
  border-radius: 10px;
  max-width: 239px;
  width: 100%;
  height: 437px;
  margin: -25px 0 -25px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.question-group-wrapper__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.question-group-wrapper__content {
  padding: 47px 0 47px 49px;
}
.question-group-wrapper .btn {
  margin: 36px 0 0;
}
.question-group-wrapper .btn img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 24px;
  margin: 0 0 0 20px;
}

.advantages-page h1 {
  margin: 0 0 50px;
}

.advantages-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #051861;
  padding: 40px;
}
.advantages-box .services-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advantages-box .services-box__icon {
  margin: 0 0 20px;
}
.advantages-box .h3 {
  max-width: 290px;
}

.articles-recommended {
  padding: 0;
  margin: 25px 0 70px;
}

.articles-recommended-card {
  padding: 20px;
}
.articles-recommended-card .articles-card__img {
  width: 107px;
  height: 107px;
}
.articles-recommended-card .articles-card__body {
  width: calc(100% - 107px);
  padding: 0 0 0 25px;
}

.reviews-section h1 {
  margin: 0 0 54px;
}
.reviews-section .reviews-card {
  max-width: none;
  width: 100%;
}

.rating-web {
  margin: 37px 0 40px;
}
.rating-web .h3 {
  margin: 0 0 28px;
}

.rating-web-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #F7F7F7;
  width: 100%;
  height: 100%;
  padding: 32px 65px;
}
.rating-web-box .logo-company {
  max-width: 201px;
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rating-web-box .logo-company span {
  margin: 23px auto 0;
}

.logo-company-yandex {
  max-width: 260px;
  width: 100%;
}
.logo-company-yandex img {
  width: 100%;
}

.link-web {
  max-width: 41px;
}

.reviews-video-section {
  padding: 0;
  margin: 150px 0 35px;
}

.video-reviews-slider {
  padding: 0 64px 0 0;
}
.video-reviews-slider .slick-next {
  top: 30%;
}
.video-reviews-slider .slick-prev {
  display: none !important;
}

.reviews-slider-social {
  width: calc(100% + 110px);
  margin: 0 0 40px;
}
.reviews-slider-social .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.reviews-slider-social .slick-slide {
  height: auto;
  margin: 0 30px 0 0;
}

.other-reviews {
  margin: 130px 0 115px;
}

.other-reviews-slider {
  padding: 0 65px;
  margin: 0 0 50px;
}
.other-reviews-slider .slick-list {
  margin: 0 -30px;
}
.other-reviews-slider .slide {
  padding: 0 30px;
}
.other-reviews-slider__item {
  border-radius: 10px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.other-reviews-slider__item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.question-group-reviews {
  margin: 115px 0 95px;
}
.question-group-reviews .question-group-wrapper {
  max-width: 1555px;
  padding: 30px 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.question-group-reviews .question-group-wrapper__content {
  padding: 0;
  margin: 0 auto 0 0;
  max-width: 690px;
}
.question-group-reviews .question-group-wrapper__box {
  max-width: 372px;
  width: 100%;
  padding: 0 38px;
  border-left: 1px solid #FFC797;
}
.question-group-reviews .question-group-wrapper__box:last-child {
  padding-right: 0;
  max-width: 334px;
}

.service-section {
  margin: 0 0 85px;
}

.service-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service-wrapper h1 {
  margin: 0 0 64px;
  color: #fff;
}
.service-wrapper__content {
  border-radius: 10px;
  background: #051861;
  max-width: 890px;
  width: 100%;
  color: #fff;
  padding: 54px 60px 53px 73px;
}
.service-wrapper__image {
  width: calc(100% - 890px);
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-wrapper__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 10px 10px 0;
}
.service-wrapper .box-text {
  position: relative;
  padding: 0 0 0 77px;
  max-width: 583px;
  width: 100%;
}
.service-wrapper .box-text svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: #fff;
  width: 36px;
}
.service-wrapper form {
  margin: 45px 0 0;
}
.service-wrapper form [type=submit] {
  min-width: 224px;
}

.service-sale {
  margin: 0 0 100px;
}
.service-sale h2 {
  margin: 0 0 15px;
}
.service-sale .box-text p {
  margin: 0 0 15px;
}
.service-sale .box-text:last-child {
  margin: 0;
}
.service-sale__image {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  max-height: 370px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.service-sale__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.18%, rgba(5, 24, 97, 0.8)), color-stop(38.54%, rgba(5, 24, 97, 0)));
  background: linear-gradient(-270deg, rgba(5, 24, 97, 0.8) 1.18%, rgba(5, 24, 97, 0) 38.54%);
}
.service-sale__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  z-index: -1;
}
.service-sale__image .box-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 44px 42px;
  font-weight: 600;
}
.service-sale__image .box-text span {
  margin: 26px 0 0;
  display: block;
}
.service-sale__image .box-text .h3 {
  text-transform: uppercase;
  font-size: 48px;
}

.service-advantages {
  margin: 100px 0 84px;
}

.service-advantages-slider {
  padding: 0 45px;
}
.service-advantages-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.service-advantages-slider .slide {
  margin: 0 23px;
  height: auto;
}

.service-advantages-box {
  width: 100%;
  height: 100%;
  padding: 32px 36px;
  border-radius: 10px;
  background: #F7F7F7;
}
.service-advantages-box .h3 {
  margin: 0 0 14px;
}

.service-who-box {
  width: 100%;
}
.service-who-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
}
.service-who-box__head .svg-icon {
  min-width: 50px;
  width: 50px;
  height: 35px;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #051861;
}
.service-who-box .box-text {
  max-width: 347px;
}

.service-base {
  margin: 90px 0 70px;
}

.service-base-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #051861;
  padding: 32px 36px 48px;
}
.service-base-box .h3 {
  margin: 0 0 14px;
}

.service-country {
  margin: 85px 0 90px;
}

.service-country-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-country-box__icon {
  width: 80px;
  height: 80px;
  min-width: 80px;
  margin: 0 34px 0 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.service-country-box__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-restrictions h2 {
  margin: 0 0 35px;
}
.service-restrictions__content .box-text {
  max-width: 576px;
  width: 100%;
}
.service-restrictions__content .box-text ul {
  font-size: 24px;
}
.service-restrictions__content .box-text ul li {
  margin: 0 0 30px;
}
.service-restrictions__content .box-text ul li:last-child {
  margin: 0;
}
.service-restrictions__image {
  width: 100%;
  height: 456px;
  overflow: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-restrictions__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.service-stages {
  margin: 115px 0 50px;
}

.service-stage-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 27px;
}
.service-stage-box__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #051861;
  color: #fff;
  width: 66px;
  height: 66px;
  margin: 8px 0 0;
  font-size: 24px;
  font-weight: bold;
}
.service-stage-box__body {
  width: calc(100% - 66px);
  padding: 0 0 0 28px;
}
.service-stage-box .h3 {
  margin: 0 0 14px;
}

.table-price-service {
  border-radius: 20px;
  border: 1px solid #B4B4B4;
  border-collapse: separate;
}
.table-price-service tbody tr:last-child td {
  border-bottom: none;
}
.table-price-service td:first-child {
  padding: 19px 70px 24px 40px;
}

.service-documents {
  margin: 84px 0 185px;
}
.service-documents h2 {
  margin: 0 0 30px;
}
.service-documents .h2 {
  margin: 0 0 22px;
}
.service-documents .documents-card {
  margin: 0;
  width: 100%;
  height: 100%;
}
.service-documents .documents-card:first-child {
  margin: 0;
}
.service-documents__content {
  padding: 40px 0 0;
}
.service-documents__content .box-text ul {
  font-size: 24px;
}
.service-documents__content .box-text ul li {
  margin: 0 0 30px;
}
.service-documents__content .box-text ul li:last-child {
  margin: 0;
}
.service-documents__content-company {
  border-radius: 20px;
  background: #F7F7F7;
  padding: 40px 45px 43px;
}
.service-documents__content-company .box-text {
  margin: 0 0 40px;
}

.all-reviews {
  width: 100%;
}

.service-type {
  margin: 0 0 100px;
}

.service-type-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-type-box {
  padding: 0 35px 0 0;
  border-right: 1px solid #FFC797;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service-type-box:last-child {
  padding: 0 0 0 35px;
  border: none;
}
.service-type-box__content {
  width: calc(100% - 238px);
  padding: 0 44px 0 0;
}
.service-type-box__image {
  width: 238px;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.service-type-box__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.service-type-box .h3 {
  margin: 0 0 55px;
}

.reviews-v2 .video-reviews-wrapper {
  margin: 60px 0 0;
  padding: 0 55px 0 0;
}
.reviews-v2 .video-reviews-wrapper .slick-next {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.reviews-v2 .video-reviews-wrapper .video-reviews {
  margin-bottom: 0;
}

.service-question .accordion-jobs {
  max-width: none;
}

.service-articles {
  margin: 85px 0 50px;
  padding: 0;
}