@import 'fonts'
@import 'vars'

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: $default-font
	font-weight: normal
	background: #fff
	color: #333

img
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

a
	display: block
	text-decoration: none
	transition: .3s ease
	outline: none
	width: fit-content

	&:hover, &:focus
		text-decoration: none

input, textarea, select
	outline: none
	box-shadow: none
	appearance: none
	padding: 20px 30px
	box-sizing: border-box
	font-family: $default-font
	border-radius: 20px
	border: 1px solid #051861
	width: 100%
	height: 62px
	background: transparent
	color: #051861
	font-size: 16px

	&::placeholder
		color: #051861

	&:hover, &:focus
		outline: none
		box-shadow: none

label
	display: block
	width: 100%
	margin: 0 0 13px

	&:last-child
		margin: 0

textarea
	resize: none
	padding: 12px 17px
	height: 103px

button, .btn
	outline: none
	transition: .3s ease
	cursor: pointer
	box-shadow: none
	font-family: $default-font
	padding: 0
	margin: 0
	border: none
	border-radius: 0

	&:hover, &:focus
		outline: none
		box-shadow: none

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	padding: 8px 20px
	font-size: 16px
	height: 42px
	font-weight: normal
	border-radius: 20px
	transition: 0.3s ease
	position: relative
	z-index: 1
	overflow: hidden
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 0
		height: 100%
		transition: .5s
		z-index: -1
	&:hover
		&::before
			width: 100%
	.svg-icon
		margin: 0 0 0 20px
		@include d-flex

.btn-sm
	padding: 2px 20px
	height: 32px

.btn-md
	padding: 10px 30px
	height: 62px

.btn-accent
	background: $accent
	color: #fff
	&::before
		background: $grey
	&:hover
		color: #fff
	.svg-icon
		stroke: #fff	

.btn-border-accent
	border: 1px solid $accent
	color: $accent
	&::before
		background: $accent
	&:hover
		color: #fff

.btn-light-grey
	border-radius: 10px
	border: 2px solid #ECECEC
	color: $accent
	&::before
		background: #ECECEC
	&:hover, &:focus
		color: $accent
		border-color: #ECECEC

.btn-white
	background: #fff
	&::before
		background: $accent
	&:hover
		color: #fff
		.svg-icon
			stroke: #fff

.btn-group
	.btn
		margin: 0 44px 0 0
		&:last-child
			margin: 0			

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn
	border-radius: 20px		
	flex: none	


.dropdown-toggle
	&:after
		margin: 0 0 0 10px
		width: 16px
		height: 10px
		@include d-flex
		border: none
		background: url('../img/arrow-dropdown.svg') no-repeat center
		background-size: 100%

.svg-icon
	display: inline-block
	width: 100%
	height: 100%


.svg-icon-arrow
	width: 9px
	height: 18px
	fill: none		

strong, b
	font-weight: bold
	display: inline-block

ul, ol
	padding: 0 0 0 20px

.my-ul
	list-style: none
	padding: 0

.list-dots
	list-style-type: disc

.container
	max-width: 1730px
	padding: 0 15px

.row
	margin: 0 -15px
	>*
		padding: 0 15px

h1, .h1
	width: 100%
	font-weight: bold
	color: $accent
	font-size: 64px
	line-height: 115.625%

h2, .h2
	font-size: 48px
	font-weight: 600
	width: 100%
	color: $accent
	line-height: normal

h3
	font-size: 24px
	font-weight: 600
	line-height: normal
	width: 100%

.title-decor
	position: relative
	z-index: 1
	color: #fff
	padding: 70px 75px 70px 0
	width: fit-content
	&::before
		content: ''
		position: absolute
		z-index: -1
		background: $accent
		top: 0
		right: 0
		width: 900px
		height: 100%
		border-radius: 20px

.font-bold
	font-weight: bold	

.mb-22
	margin-bottom: 22px

.mb-30
	margin-bottom: 30px

.mb-50
	margin-bottom: 50px

.mb-65
	margin-bottom: 65px			

.mb-80
	margin-bottom: 80px	

.mb-110
	margin-bottom: 110px	

.m-105
	margin: 105px 0	

.box-text
	font-size: 20px

// slick slider style
.slick-slider
	width: 100%

.slick-slide
	outline: none

.slick-arrow
	position: absolute
	z-index: 1
	opacity: 1
	background: transparent
	border-radius: 0
	border: none
	width: 24px
	height: 48px
	top: 50%
	transform: translate(-50%,0)
	@include d-flex
	stroke: $accent
	fill: none
	&:hover
		stroke: $grey	
	svg
		@include d-flex	

.slick-next
	right: 0

.slick-prev
	left: 0		
	svg
		transform: rotate(180deg)	

.slider-nav
	display: flex
	flex-wrap: wrap
	.slick-arrow
		position: relative
		top: 0
		right: 0
		left: 0
		transform: none
				

//checkbox my
.label-checkbox
	position: relative
	display: flex
	align-items: flex-start
	color: rgba(255, 255, 255, 0.5)
	font-size: 14px
	margin: 15px 0 0
	line-height: 1.14

.inp-check
	display: none

.checkbox-custom
	margin: 0 12px 0 0
	position: relative
	border-radius: 6px
	background-color: #fff
	width: 16px
	height: 16px
	min-width: 16px
	cursor: pointer

.inp-check:checked ~ .checkbox-custom
	background: #fff url("../img/check-black.svg") no-repeat center
	background-size: 8px
//checkbox my end
